<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip({
			placement : 'top'
		});

		$('.modalitem').click(function(e) {
			var src = "http://steamcommunity-a.akamaihd.net/economy/image/" + $(this).find("#Image").text() + "/180x180"

			$('#image_s').attr("src", src)
			
			$('#nome_s').text($(this).find("#Nome").text())
			$('#quality_s').text($(this).find("#Quality").text())
			$('#exterior_s').text($(this).find("#Exterior").text())
			$('#rarity_s').text($(this).find("#Rarity").text())
			
			$("#iditem").val($(this).find("#Id").text())
			$("#image").val($(this).find("#Image").text())
			$('#name').val($(this).find("#Nome").text())
			$('#quality').val($(this).find("#Quality").text())
			$('#exterior').val($(this).find("#Exterior").text())
			$('#rarity').val($(this).find("#Rarity").text())
			
		});

	}); 
</script>
<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark-m">

	<!-- Container -->
	<div class="container">
		<!-- Section Title -->
		<div class="section-title invert-colors no-margin-b">
			<h2>Venda seus items</h2>
			<p class="hidden-xs">
				Helena is a freelance fashion house specialiasing in print designs and combining fabrics. Our stores can be found all over the world.
			</p>
		</div>
		<!-- /Section Title -->
	</div>
	<!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

	<!-- Container -->
	<div class="container cont-pad-x-15">

		<!-- Breadcrumb -->
		<ol class="breadcrumb pull-left">
			<li>
				<a href="#"><i class="ti ti-home"></i></a>
			</li>
			<li>
				<a href="#">Vender</a>
			</li>
		</ol>
		<!-- /Breadcrumb -->

	</div>
	<!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================-->
<section class="content-block default-bg">
	<!-- Container -->
	<div class="container cont-main no-pad-t">

		<!-- Row -->
		<div class="row">
			<div class="product-grid row grid-20 mgb-20">

				<ul class="rig columns-4">
					<% @itens.each do |item| %>
					<% if item[1]['tradable'] == 1 %>
					<a class="modalitem" data-toggle="modal" data-target="#myModal" >
					<li>
						<img src="https://steamcommunity-a.akamaihd.net/economy/image/<%= item[1]['icon_url'] %>/96fx96f" />
						<div id="Image" hidden><%= item[1]['icon_url'] %></div>
						
						<h4><%= item[1]['name'] %></h4>
						
						<% @iditens.each do |id| %>
							<% if id[1]['classid'] == item[1]['classid'] %>
							<div id="Id" hidden><%= id[0] %></div>
							<% end %>
						<% end %>
						
						<div id="Nome" hidden><%= item[1]['name']%></div>
							
						<% item[1]['tags'].each do |tag| %>
						<% if tag['category'] == 'Rarity' %>
						<h8>
							<%= tag['name'] %>
						</h8>
						<div id="Rarity" hidden><%= tag['name'] %></div>
						<% end %>
						
						<% if tag['category'] == 'Quality' %>
						<div id="Quality" hidden><%= tag['name'] %></div>
						<% end %>
						
						<% if tag['category'] == 'Exterior' %>
						<div id="Exterior" hidden><%= tag['name'] %></div>
						<% end %>
						
						<% if tag['category'] == 'Quality' %>
						<div id="Quality" hidden><%= tag['name'] %></div>
						<% end %>

						<% end %>
					</li> </a>
					<% end %>
					<% end %>
				</ul>

				<!-- Side Col -->
				<div class="side-col col-sm-3 col-md-3">

					<!-- Side Widget -->
					<div class="side-widget no-margin-l">

					</div>
					<!-- /Side Widget -->

				</div>
				<!-- /Side Col -->
			</div>
		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->
</section>
<!-- /Content Block
============================================-->

<!-- Modal -->
<div class="modal fade" id="myModal"  aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px">
		<div class="modal-content">
			<div style="text-align: center; font-weight: bold;" class="modal-header">
				<span id="nome_s"> </span>
			</div>
			<div class="modal-body">
				<fieldset>
					<%= form_tag( { controller: "home" , action: "venda" },  method: :get) do %>
						<div class="form-group">
							<center><img id="image_s" src="" alt="">
							</center>
							<%= hidden_field_tag :iditem %>
							<%= hidden_field_tag :name %>	
							<%= hidden_field_tag :image %>	
							<%= hidden_field_tag :quality %>	
							<%= hidden_field_tag :exterior %>	
							<%= hidden_field_tag :rarity %>		
							<div style="background-color:#f6f4f4;text-align:center;border-bottom-color:#fff;border-bottom-width:1px;border-bottom-style:solid">
								<span id="quality_s" ></span>
							</div>
							<div style="background-color:#f6f4f4;text-align:center;border-bottom-color:#fff;border-bottom-width:1px;border-bottom-style:solid">
								<span id="exterior_s" ></span>
							</div>
							<div style="background-color:#f6f4f4;text-align:center;border-bottom-color:#fff;border-bottom-width:1px;border-bottom-style:solid">
								<span id="rarity_s" ></span>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-money"></i>
								</div>
								<%= number_field_tag :preco, nil, class: "form-control", placeholder: "R$: ", step: "0.01", min:"1"  %>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-comments"></i>
								</div>
								<%= text_area_tag :obs, "Observações:", rows: "4", cols: "36", class: "form-control", style: "color:#999999"  %>
							</div>
						</div>
						<div class="form-group">
							<label class="checkbox-inline">
								<%= check_box_tag :cbox , 'sim', false, onclick: "activate()" %>
								Eu aceito os <a class="href">Termos</a> de uso</label>
							<br>
							<label class="checkbox-inline">
								<%= check_box_tag :destaque, 'true' %>
								<a href="#" data-toggle="tooltip" data-original-title="Ao marcar esta opção o seu item será apresentado na página inicial como destaque e terá prioridade nas listagens, proporcionando uma venda mais rápida. Taxa inclusa.">Destacar item.</a></label>
						</div>
						<%= submit_tag "Vender", disabled: true, id: "button1", class: "btn btn-primary btn-bigger btn-block"  %>
						
						<button type="button" class="btn btn-default btn-bigger btn-block" data-dismiss="modal">
							Fechar
						</button>
					<% end %>
				</fieldset>
			</div>

		</div>
	</div>
</div>

<script type = "text/javascript">
	function activate() {
		var c = document.getElementById("cbox");
		if (c.checked) {
			document.getElementById("button1").disabled = false;
		} else {
			document.getElementById("button1").disabled = true;
		}

	}
</script>
